、springcloud
、maven多模块
	、bean独立？这个不必要吧？
	、服务间调用
	、是不是三个器，三个模块？
、监听器方面
	、统计在线人数和在线用户
	、系统启动时加载初始化信息
	、统计网站访问量
	、记录用户访问路径
、过滤器方面
	、URL级别的权限访问控制、过滤敏感词汇、压缩响应信息
、拦截器方面
	、日志，安全等
	、权限验证
		、
	、或者判断用户是否登陆，或者是像12306 判断当前时间是否是购票时间
、Redis？
、有数据库